
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="toolbarText" >Welcome 📝</span>
</div>
<!-- Main content -->
    <h1>Lets take some notes</h1>
  <!-- basic functionalities-->
<div class="container">
  <div class="left">
      <!-- Notes -->
      <h2>Notes</h2>
      <p>Here are some notes to help you get started:</p>
      <div class="flex gap-3 mt-1">
        <p-button [routerLink]="['/create']" icon="pi pi-plus" [rounded]="true" severity="info" ></p-button>
      </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
 

</div>

