h1{
  margin-left:10px ;
}

.container{
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 0 0 100%; 
  background: linear-gradient( rgb(236, 139, 27) 35%, rgb(199, 178, 60) 100%);
  
}
  .toolbar {
    display:flex;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: 600;
    .toolbarText{
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }

  .right{
    width: 100%;
    margin: 2em;
  }
  .left{
    display: flex;
    flex-direction: column;
    
    width: 40vw;
    margin: 2em;
  }
  // .item {
  //   // flex: 0 1 auto;
  //  
  //   padding: 2px;
  //   margin: 2px
  // }
  .tall {
    max-width: 30vw;
  }
  

 

  

  









